// /*--------------------------------------------------------------
// # Footer
// --------------------------------------------------------------*/

.site-footer{
li:last-child {
    border: none;
    padding-right: 0px;

    &::before{
        content: "Brought you by";
        text-decoration: none;
        color: white;
        cursor: default;
        pointer-events: none;
    } 

    a{
        padding-left: 6px;
    }
  }
}